<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sapient.empDirectory" version="0.0.1">
<name>Employee Directory</name>
<description>
    A simple employee directory application
</description>
<author email="prasad0079@gmail.com" href="http://www.rediff.com">
    Prasad S
</author>
<content src="index.html" />
<access origin="*" />
<preference name="fullscreen" value="true" />
<preference name="webviewbounce" value="true" />
</widget>